
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    @include pad{
        max-width: 1016px;
    }
    @include mobile{
        max-width: 791px;
    }
}


// background
.beige-section{
    background: $primary-beige;
    padding: 80px 0;
    color: $secondary-red;
}

// margin
.normal-section-margin{
    margin-bottom: 80px;
    @include mobile{
        margin-bottom: 40px;
    }
}


.section-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    color: $secondary-red;
    text-align: center;
    @include mobile{
        font-size: 24px;
        margin-bottom: 24px;
    }
    
 }
 .section-item-title{
     font-weight: 900;
     font-style: italic;
     font-size: 48px;
     color: $primary-red;
     text-align: center;
 }

 