.footer{
    background: $primary-red;
    padding: 48px 0 32px 0;
    &-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }
    &-menu{
        @include listing-style(48px);
        a{
            @include link-text-white(16px);
        }
    }
    .social-media{
        @include listing-style(32px);
        img{
            max-width: 48px;
            max-height: 48px;
        }
    }
    &-contact{
        padding-bottom: 32px;
        border-bottom: 1px solid #ffff;
        margin-bottom: 32px;
        
        a{
            @include link-text-white(36px);
            display: flex;
            align-items: center;
        }
        span{
            max-width: 48px;
            max-height: 48px;
            color: #fff;
            font-weight: bold;
            margin-right: 16px;
        }
        
        li:first-child{
            margin-bottom: 8px;
            span{
                font-size: 36px;
                padding: 6px;
            }
        }
        li:last-child{
            span{
                font-size: 40px;
                padding: 8px 4px;
            }
        }
    }
    .legal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 16px;
            color: $primary-white;
            line-height: 21px;
        }
        .legal-terms{
            @include listing-style(48px);
        }
        a{
            @include link-text-white(14px);
        }
    }
    @include pad{
        .social-media{
            @include listing-style(16px);
            img{
                max-width: 40px;
                max-height: 40px;
            }
        }
    }

    @include mobile{
        padding: 24px 0;
       &-menu{
           display: none;
       }
       .social-media{
           @include listing-style(8px);
           img{
            max-width: 24px;
            max-height: 24px;
           }
       }
       &-main{
           display: flex;
           flex-direction: row-reverse;
           justify-content: space-between;
           align-items: start;
           padding-bottom: 24px;
           margin-bottom: 16px;
           border-bottom: 1px solid #fff;

       }
       &-contact{
           padding-bottom: 0;
           margin-bottom: 0;
           border: none;
           span{
                max-width: 24px;
                max-height: 24px;
                margin-right: 8px;
           }
           li{
                a{
                    @include link-text-white(16px);
                }
           }
           li:first-child{
            span{
             font-size: 18px;
             padding: 3px;    
             }
            }
            li:last-child{
                span{
                    font-size: 20px;
                    padding: 4px 2px;
                }
            }
        }
       .legal{
           flex-direction: column;
           align-items: start;
           &-terms{
               flex-direction: column;
               margin-top: 8px;
               li:first-child{
                   margin-bottom: 8px;
               }
               a{
                   font-size: 16px;
               }
           }

       }
       
    }
    
}