
.section-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    color: $secondary-red;
    text-align: center;
    
 }
 .section-item-title{
     font-weight: 900;
     font-style: italic;
     font-size: 48px;
     color: $primary-red;
     text-align: center;
 }
