
.header{
    background: $primary-red;
    padding: 16px 0;
    &-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            @include hide-text(80px,48px);
            background: url("../images/logo-white.png") no-repeat;
            background-size: contain;
        }

        
    }
    .menu{
        @include listing-style(64px);
         li a{
            @include link-text-white(20px);
         }
         
         @include mobile{
            display: inline-block;
            max-height: 0;
            overflow: hidden;
            flex-direction: column;
            position: absolute;
            z-index: 100;
            top: 80px;
            left: 0;
            right: 0;
            background: $primary-red;
            text-align: right;
            a{
                display: block;
                padding: 10px 25px;
                &:hover{
                    border-bottom: 1px dashed $primary-white;
                }
            }
            
           
        }

     }
     .ham-menu{
        display: none;
        padding: 4px;
        font-size: 40px;
        font-weight: bold;
        color: $primary-white;
        cursor: pointer;
        &:hover{
            opacity: 0.6;
        }
        @include mobile{
            display: block;
         }
    }
    .show-mobile-menu .menu{
        max-height: 300px;
        border-top: 1px dashed $primary-white;
    }
    .dropdown-menu{
        max-width: 175px;
        overflow: hidden;
        position: absolute;
        top: 130px;
        transform: translate(-50%, -50%);
        text-align: center;
        background: $primary-red;
        border-top: 1px dashed $primary-white;
        display: none;
        a{
            display: block;
            padding: 10px 25px;
            &:hover{
                border-bottom: 1px dashed $primary-white;
            }
           
        }
        @include mobile{
            position:static;
            transform: translate(0, 0);
        }
    }
    .show-menu{
        display: inline-block;
        @include mobile{
            opacity: 0.7;
            border-top: none;
        }
    }
}
