.banner{
    width: auto;
    height: 787px;
    background: url("../images/home-header.png") no-repeat;
    background-size: cover;
    &-main{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-detail{
        max-width: 576px;
        color: $secondary-red;
        text-align: right;
        h3{
            font-size: 36px;
        }
        h2{
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 4px;
        }
        .cta-btn{
            font-size: 20px;
            padding: 6px 12px;
            font-weight: 500;
            color: #fff;
            border: none;
            background: $primary-red;
        }

    }
    @include pad{
        background: url("../images/home-header-sm.png") no-repeat;
        background-size: cover;
    }
    @include mobile{
        height: 396px;
        &-detail{
            max-width: 346px;
        }
        h3{
            font-size: 16px;
        }
        h2{
            font-size: 24px;
            margin-bottom: 8px;
        }
        
    }
}
// benefits
.benefits{
    h2{
        margin-bottom: 24px;
    }
    &-list{
        display: flex;
        li{
            width: 23.6%;
            text-align: center;
            p{
                color: $primary-black;
                text-align: left;
            }
        }
        img{
            max-width: 100px;
            margin-bottom: 16px;
        }
        li:not(:last-child){
            img{
                padding: 8px;
            }
        }
        
        h3{
            font-size: 24px;
            font-weight: 700;
            color: $secondary-red;
            margin-bottom: 8px;
        }
        
    }
    @include pad{
        &-list{
            flex-wrap: wrap;
            column-gap: 3.4%;
            row-gap: 3.4%;
            li{
                width: 48%;
            }
        }
    }
    @include mobile{
        &-list{
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
            li{
                width: 100%;
                p{
                    text-align: left;
                }
            }
        }
    }

}
// classical
.classical{
    &-display{
        display: flex;
        justify-content: space-between;
        li{
            width: 32%;
            a{
                display: block;
            }
        }
    }
    img{
        margin-bottom: 8px;
    }
    @include pad{
        &-display{
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
            li{
                width: 48%;
            }
        }
    }
    @include mobile{
        &-display{
            li{
                width: 100%;
            }
        }
    }
}

// joint design 

.joint-design{
    padding: 80px 0;
    margin-bottom: 80px;
    background: url(../images/index-bg.png) no-repeat center center;
    background-size: cover;
    h2{
        color: $primary-white;
    }
    &-display{
        display: flex;
        li{
            width: 100%;
        }
        a{
            display: block;
        }
    }
    h3{
        background: $primary-white;
        padding: 8px 0;
        text-align: center;
    }
    .joint-design-pic-mobile{
        display: none;
    }
    @include pad{
        &-display{
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
            li{
                width: 100%;
            }
        }
    }
    @include mobile{
        padding: 40px 0;
        .joint-design-pic{
            display: none;
        }
        .joint-design-pic-mobile{
            display: block;
            width: 100%;
        }
    }
}

// recommenddation

.recommendation{
    &-list{
        display: flex;
        justify-content: space-between;
        li{
            width: 23.6%;
            box-shadow: 0 2px 6px 0 $secondary-grey;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                margin-left: 16px;
                margin-right: 16px;
            }
        }
    }
    &-details{
        img{
            margin-bottom: 16px;
            height: 306px;
            width: 100%;
            object-fit: cover;
        }
        p:not(:last-child){
            margin-bottom: 8px;
            font-weight: 500;
        }
        p:last-child{
            padding-bottom: 72px;
        }
    }
    
    &-date{
        font-size: 14px;
        color: $secondary-grey2;
        margin-bottom: 16px;
    }
    @include pad{
        &-list{
           flex-wrap: wrap;
           row-gap: 24px;
           li{
               width: 48.3%;
           }
        }
   }
   @include mobile{
       &-list{
           flex-direction: column;
           align-items: center;
           li{
               width: 100%;
           }
       }
   }

}

.contact-us{
    padding: 80px 0;
    h2{
        margin-bottom: 24px;
    }
    &-detail{
        width: 50%;
        margin: 0 auto;
    }
    &-intro{
        color: $primary-black;
        font-size: 20px;
        margin-bottom: 24px;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 8px;
            color: $primary-black;
        }
        input,textarea{
            padding: 6px 12px;
            background: $primary-beige;
            border: 1px solid #000;
            margin-bottom: 16px;
        }
        textarea{
            min-height: 136px;
        }
        .agreement{
            display: flex;
            align-items: start;
            margin-bottom: 48px;
            img{
                margin-right: 4px;
                margin-top: 3px;
                cursor: pointer;
            }
            p{
                color: $primary-black;
            }
        }
        .btn-submit{
            color: $primary-white;
            font-weight: 700;
            width: 65%;
            padding: 16px 0;
            background: $primary-red;
            align-self: center;
            cursor: pointer;
            border: none;
            &:hover{
                opacity: 0.6;
            }
        }

    }
    
    @include pad{
        &-detail{
            width: 58.33%;
            .btn-submit{
                width: 58.33%;
            }

        }
    }
    @include mobile{
        padding: 40px 0;
        &-detail{
            width: 100%;        
        }
        .contact-form{
            .btn-submit{
                width: 100%;
            }
        }
    }

}