
.header{
    background: $primary-red;
    padding: 16px 0;
    &-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            @include hide-text(80px,48px);
            background: url("../images/logo-white.png") no-repeat;
            background-size: contain;
        }

        .mobile-nav{
            display: none;
            padding: 10px 5px;
           img{
               width: 30px;
               height: 20px;
            }
        }
    }
    .menu{
        @include listing-style(64px);
         li a{
            @include link-text-white(20px);
         }
     }
}




// footer

.footer{
    background: $primary-red;
    padding: 48px 0 32px 0;
    &-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }
    &-menu{
        @include listing-style(48px);
        a{
            @include link-text-white(16px);
        }
    }
    .social-media{
        @include listing-style(32px);
        img{
            max-width: 48px;
            max-height: 48px;
        }
    }
    &-contact{
        padding-bottom: 32px;
        border-bottom: 1px solid #ffff;
        margin-bottom: 32px;
        li:first-child{
            margin-bottom: 8px;
            img{
                height: 36px;
                width: auto;
            }
        }
        li:last-child{
            img{
                height: 32px;
                width: auto;
            }
        }
        li{
            a{
            @include link-text-white(36px);
            }
            img{
                margin-right: 22px;
                }
        }
    }
    .legal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 16px;
            color: $primary-white;
            line-height: 21px;
        }
        .legal-terms{
            @include listing-style(48px);
        }
        a{
            @include link-text-white(14px);
        }
    }
    
}