
// layout 
// header
.header{
    @include mobile{
        .header-nav{
            padding: 0 15px;
            
        }
        .menu{
            max-height: 0;
            overflow: hidden;
            flex-direction: column;
            position: absolute;
            z-index: 100;
            top: 80px;
            left: 0;
            right: 0;
            background: $primary-red;
            text-align: right;
            a{
                display: block;
                padding: 10px 25px;
                &:hover{
                    border-bottom: 1px dashed #bebebe;
                }
            }
        }
        .mobile-nav{
            display: block;
        }
       .show-mobile-menu .menu{
            max-height: 300px;
            border-top: 1px dashed #bebebe;
        }
    }
}


// footer
.footer{
    @include pad{
        .social-media{
            @include listing-style(16px);
            img{
                max-width: 40px;
                max-height: 40px;
            }
        }
    }

    @include mobile{
        padding: 24px 0;
       &-menu{
           display: none;
       }
       .social-media{
           @include listing-style(8px);
           img{
            max-width: 24px;
            max-height: 24px;
           }
       }
       &-main{
           display: flex;
           flex-direction: row-reverse;
           justify-content: space-between;
           align-items: start;
           padding-bottom: 24px;
           margin-bottom: 16px;
           border-bottom: 1px solid #fff;
           
       }
       &-contact{
           padding-bottom: 0;
           margin-bottom: 0;
           border: none;
           li{
                a{
                    @include link-text-white(16px);
                }
                img{
                    max-width: 18px;
                    max-height: 18px;
                    margin-right: 10px;
                }
           }
       }
       .legal{
           flex-direction: column;
           align-items: start;
           &-terms{
               flex-direction: column;
               margin-top: 8px;
               li:first-child{
                   margin-bottom: 8px;
               }
               a{
                   font-size: 16px;
               }
           }

       }
    }

}
