.banner{
    @include pad{
        background: url("../images/home-header-sm.png") no-repeat;
        background-size: cover;
    }
    @include mobile{
        height: 396px;
        &-detail{
            max-width: 346px;
        }
        h3{
            font-size: 16px;
        }
        h2{
            font-size: 24px;
            margin-bottom: 8px;
        }
        
    }
}
.benefits{
    @include pad{
        &-list{
            flex-wrap: wrap;
            column-gap: 3.4%;
            row-gap: 3.4%;
            li{
                width: 48%;
            }
        }
    }
    @include mobile{
        &-list{
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
            li{
                width: 100%;
                p{
                    text-align: left;
                }
            }
        }
    }
}
.classical{
    @include pad{
        &-display{
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
            li{
                width: 48%;
            }
        }
    }
    @include mobile{
        &-display{
            li{
                width: 100%;
            }
        }
    }
}
.joint-design{
    @include pad{
        &-display{
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
            li{
                width: 100%;
            }
        }
    }
    @include mobile{
        padding: 40px 0;
        .joint-design-pic{
            display: none;
        }
        .joint-design-pic-mobile{
            display: block;
            width: 100%;
        }
    }
}
.recommendation{
    @include pad{
         &-list{
            flex-wrap: wrap;
            row-gap: 24px;
            li{
                width: 48.3%;
            }
         }
    }
    @include mobile{
        &-list{
            flex-direction: column;
            align-items: center;
            li{
                width: 100%;
            }
        }
    }
}
.contact-us{
    @include pad{
        &-detail{
            width: 58.33%;
            .btn-submit{
                width: 58.33%;
            }

        }
    }
    @include mobile{
        padding: 40px 0;
        &-detail{
            width: 100%;        
        }
        .contact-form{
            .btn-submit{
                width: 100%;
            }
        }
    }
}