
// color
$primary-red: #AA0601;
$primary-beige: #FBF2F2;
$primary-black: #000;
$primary-white: #fff;

$secondary-red: #650300;
$secondary-grey: #DEE2E6;
$secondary-grey2: #707070;

// $secondary
// $secondary