
// color
$primary-red: #AA0601;
$primary-beige: #FBF2F2;
$primary-black: #000;
$primary-white: #fff;

$secondary-red: #650300;
$secondary-grey: #DEE2E6;
$secondary-grey2: #707070;
$secondary-grey3: #DCDCDC;
$secondary-grey4: #F2F2F2;
$secondary-grey5: #CED4DA;
$secondary-grey6: #00000020;
$product-color: #5F3E2D;
$product-color2: #B75929;

$color-green: #555555;
$color-green2: #495057;