/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none; }

a:hover {
  opacity: 0.6; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 1016px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 791px; } }

.beige-section {
  background: #FBF2F2;
  padding: 80px 0;
  color: #650300; }

.normal-section-margin {
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .normal-section-margin {
      margin-bottom: 40px; } }

.section-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
  color: #650300;
  text-align: center; }
  @media (max-width: 767px) {
    .section-title {
      font-size: 24px;
      margin-bottom: 24px; } }

.section-item-title {
  font-weight: 900;
  font-style: italic;
  font-size: 48px;
  color: #AA0601;
  text-align: center; }

.page-title {
  margin-top: 80px;
  font-size: 48px;
  font-weight: 700;
  padding-left: 16px;
  border-left: 8px solid #AA0601;
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .page-title {
      font-size: 24px;
      margin-top: 40px; } }

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga'; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pagination a {
    color: #555555;
    display: block;
    font-size: 18px;
    padding: 12px 16px;
    border: 1px solid #555555; }
    .pagination a:hover {
      opacity: 1;
      background: #000;
      color: #fff; }
  .pagination .next {
    padding-left: 12px;
    padding-right: 12px; }
    .pagination .next:hover {
      background: #F2F2F2;
      color: #555555; }
  .pagination .page-active {
    background: #000;
    color: #fff; }

.header {
  background: #AA0601;
  padding: 16px 0; }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-nav .logo {
      width: 80px;
      height: 48px;
      display: block;
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;
      background: url("../images/logo-white.png") no-repeat;
      background-size: contain; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 64px;
       -moz-column-gap: 64px;
            column-gap: 64px; }
    .header .menu li a {
      display: block;
      color: #fff;
      font-size: 20px; }
    @media (max-width: 767px) {
      .header .menu {
        display: inline-block;
        max-height: 0;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        z-index: 100;
        top: 80px;
        left: 0;
        right: 0;
        background: #AA0601;
        text-align: right; }
        .header .menu a {
          display: block;
          padding: 10px 25px; }
          .header .menu a:hover {
            border-bottom: 1px dashed #fff; } }
  .header .ham-menu {
    display: none;
    padding: 4px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer; }
    .header .ham-menu:hover {
      opacity: 0.6; }
    @media (max-width: 767px) {
      .header .ham-menu {
        display: block; } }
  .header .show-mobile-menu .menu {
    max-height: 300px;
    border-top: 1px dashed #fff; }
  .header .dropdown-menu {
    max-width: 175px;
    overflow: hidden;
    position: absolute;
    top: 130px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    background: #AA0601;
    border-top: 1px dashed #fff;
    display: none; }
    .header .dropdown-menu a {
      display: block;
      padding: 10px 25px; }
      .header .dropdown-menu a:hover {
        border-bottom: 1px dashed #fff; }
    @media (max-width: 767px) {
      .header .dropdown-menu {
        position: static;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0); } }
  .header .show-menu {
    display: inline-block; }
    @media (max-width: 767px) {
      .header .show-menu {
        opacity: 0.7;
        border-top: none; } }

.footer {
  background: #AA0601;
  padding: 48px 0 32px 0; }
  @media (max-width: 767px) {
    .footer {
      padding: 24px 0; } }
  @media (max-width: 767px) {
    .footer-main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      padding-bottom: 24px;
      margin-bottom: 16px;
      border-bottom: 1px solid #fff; } }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px; }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px; }
    .footer-menu a {
      display: block;
      color: #fff;
      font-size: 16px; }
    @media (max-width: 767px) {
      .footer-menu {
        display: none; } }
  .footer .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px; }
    .footer .social-media img {
      max-width: 48px;
      max-height: 48px; }
    @media (max-width: 992px) {
      .footer .social-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 16px;
           -moz-column-gap: 16px;
                column-gap: 16px; }
        .footer .social-media img {
          max-width: 40px;
          max-height: 40px; } }
    @media (max-width: 767px) {
      .footer .social-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 8px;
           -moz-column-gap: 8px;
                column-gap: 8px; }
        .footer .social-media img {
          max-width: 24px;
          max-height: 24px; } }
  .footer-contact {
    padding-bottom: 32px;
    border-bottom: 1px solid #ffff;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .footer-contact {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none; } }
    .footer-contact a {
      display: block;
      color: #fff;
      font-size: 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 767px) {
        .footer-contact a {
          display: block;
          color: #fff;
          font-size: 16px; } }
    .footer-contact span {
      max-width: 48px;
      max-height: 48px;
      color: #fff;
      font-weight: bold;
      margin-right: 16px; }
      @media (max-width: 767px) {
        .footer-contact span {
          max-width: 24px;
          max-height: 24px;
          margin-right: 8px; } }
    .footer-contact li:first-child {
      margin-bottom: 8px; }
      .footer-contact li:first-child span {
        font-size: 36px;
        padding: 6px; }
        @media (max-width: 767px) {
          .footer-contact li:first-child span {
            font-size: 18px;
            padding: 3px; } }
    .footer-contact li:last-child span {
      font-size: 40px;
      padding: 8px 4px; }
      @media (max-width: 767px) {
        .footer-contact li:last-child span {
          font-size: 20px;
          padding: 4px 2px; } }
  .footer .legal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .footer .legal {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start; } }
    .footer .legal p {
      font-size: 16px;
      color: #fff;
      line-height: 21px; }
    .footer .legal .legal-terms {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 48px;
         -moz-column-gap: 48px;
              column-gap: 48px; }
      @media (max-width: 767px) {
        .footer .legal .legal-terms {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-top: 8px; } }
    @media (max-width: 767px) {
      .footer .legal li:first-child {
        margin-bottom: 8px; } }
    .footer .legal a {
      display: block;
      color: #fff;
      font-size: 14px; }
      @media (max-width: 767px) {
        .footer .legal a {
          font-size: 16px; } }

.banner {
  width: auto;
  height: 787px;
  background: url("../images/home-header.png") no-repeat;
  background-size: cover; }
  .banner-main {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .banner-detail {
    max-width: 576px;
    color: #650300;
    text-align: right; }
    .banner-detail h3 {
      font-size: 36px; }
    .banner-detail h2 {
      font-size: 64px;
      font-weight: 700;
      margin-bottom: 4px; }
    .banner-detail .cta-btn {
      font-size: 20px;
      padding: 6px 12px;
      font-weight: 500;
      color: #fff;
      border: none;
      background: #AA0601;
      cursor: pointer; }
      .banner-detail .cta-btn:hover {
        opacity: 0.6; }
  @media (max-width: 992px) {
    .banner {
      background: url("../images/home-header-sm.png") no-repeat;
      background-size: cover; } }
  @media (max-width: 767px) {
    .banner {
      height: 396px; }
      .banner-detail {
        max-width: 346px; }
      .banner h3 {
        font-size: 16px; }
      .banner h2 {
        font-size: 24px;
        margin-bottom: 8px; } }

.benefits h2 {
  margin-bottom: 24px; }

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .benefits-list li {
    width: 23.6%;
    text-align: center; }
    .benefits-list li p {
      color: #000;
      text-align: left; }
  .benefits-list img {
    max-width: 100px;
    margin-bottom: 16px; }
  .benefits-list li:not(:last-child) img {
    padding: 8px; }
  .benefits-list h3 {
    font-size: 24px;
    font-weight: 700;
    color: #650300;
    margin-bottom: 8px; }

@media (max-width: 992px) {
  .benefits-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 3.4%;
       -moz-column-gap: 3.4%;
            column-gap: 3.4%;
    row-gap: 3.4%; }
    .benefits-list li {
      width: 48%; } }

@media (max-width: 767px) {
  .benefits-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 24px; }
    .benefits-list li {
      width: 100%; }
      .benefits-list li p {
        text-align: left; } }

.classical-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .classical-display li {
    width: 32%; }
    .classical-display li a {
      display: block; }

.classical img {
  margin-bottom: 8px; }

@media (max-width: 992px) {
  .classical-display {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 24px; }
    .classical-display li {
      width: 48%; } }

@media (max-width: 767px) {
  .classical-display li {
    width: 100%; } }

.joint-design {
  padding: 80px 0;
  margin-bottom: 80px;
  background: url(../images/index-bg.png) no-repeat center center;
  background-size: cover; }
  .joint-design h2 {
    color: #fff; }
  .joint-design-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .joint-design-display li {
      width: 100%; }
    .joint-design-display a {
      display: block; }
  .joint-design h3 {
    background: #fff;
    padding: 8px 0;
    text-align: center; }
  .joint-design .joint-design-pic-mobile {
    display: none; }
  @media (max-width: 992px) {
    .joint-design-display {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      row-gap: 24px; }
      .joint-design-display li {
        width: 100%; } }
  @media (max-width: 767px) {
    .joint-design {
      padding: 40px 0; }
      .joint-design .joint-design-pic {
        display: none; }
      .joint-design .joint-design-pic-mobile {
        display: block;
        width: 100%; } }

.recommendation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .recommendation-list li {
    width: 23.6%;
    -webkit-box-shadow: 0 2px 6px 0 #DEE2E6;
            box-shadow: 0 2px 6px 0 #DEE2E6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .recommendation-list li p {
      margin-left: 16px;
      margin-right: 16px; }

.recommendation-details img {
  margin-bottom: 16px;
  height: 306px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.recommendation-details p:not(:last-child) {
  margin-bottom: 8px;
  font-weight: 500; }

.recommendation-details p:last-child {
  padding-bottom: 72px; }

.recommendation-date {
  font-size: 14px;
  color: #707070;
  margin-bottom: 16px; }

@media (max-width: 992px) {
  .recommendation-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 24px; }
    .recommendation-list li {
      width: 48.3%; } }

@media (max-width: 767px) {
  .recommendation-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .recommendation-list li {
      width: 100%; } }

.contact-us {
  padding: 80px 0; }
  .contact-us h2 {
    margin-bottom: 24px; }
  .contact-us-detail {
    width: 50%;
    margin: 0 auto; }
  .contact-us-intro {
    color: #000;
    font-size: 20px;
    margin-bottom: 24px; }
  .contact-us .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact-us .contact-form label {
      margin-bottom: 8px;
      color: #000; }
    .contact-us .contact-form input, .contact-us .contact-form textarea {
      padding: 6px 12px;
      background: #FBF2F2;
      border: 1px solid #000;
      margin-bottom: 16px; }
    .contact-us .contact-form textarea {
      min-height: 136px; }
    .contact-us .contact-form .agreement {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      margin-bottom: 48px; }
      .contact-us .contact-form .agreement span {
        font-size: 24px;
        cursor: pointer;
        color: #000; }
      .contact-us .contact-form .agreement .agreenment-checked {
        position: absolute;
        display: none; }
      .contact-us .contact-form .agreement .agreement-checked-active {
        display: block; }
      .contact-us .contact-form .agreement p {
        color: #000; }
    .contact-us .contact-form .btn-submit {
      color: #fff;
      font-weight: 700;
      width: 65%;
      padding: 16px 0;
      background: #AA0601;
      -ms-flex-item-align: center;
          align-self: center;
      cursor: pointer;
      border: none; }
      .contact-us .contact-form .btn-submit:hover {
        opacity: 0.6; }
  @media (max-width: 992px) {
    .contact-us-detail {
      width: 58.33%; }
      .contact-us-detail .btn-submit {
        width: 58.33%; } }
  @media (max-width: 767px) {
    .contact-us {
      padding: 40px 0; }
      .contact-us-detail {
        width: 100%; }
      .contact-us .contact-form .btn-submit {
        width: 100%; } }

.product-nav {
  max-width: 1296px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-nav li {
    width: 33.3333%;
    border: 1px solid #DCDCDC; }
    .product-nav li a {
      display: block;
      color: #000;
      font-weight: 500;
      font-size: 32px;
      padding-top: 24px;
      padding-bottom: 16px;
      text-align: center;
      border-bottom: 8px solid transparent; }
      @media (max-width: 992px) {
        .product-nav li a {
          font-size: 24px;
          padding: 16px 0; } }
      @media (max-width: 767px) {
        .product-nav li a {
          font-size: 16px; } }
      .product-nav li a:hover {
        opacity: 1;
        border-bottom: 8px solid #AA0601; }
    .product-nav li .nav-active {
      border-bottom: 8px solid #AA0601; }

.product-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-banner img {
    width: 50%; }
    @media (max-width: 992px) {
      .product-banner img:nth-child(-n+2) {
        display: none; } }
    .product-banner img:nth-last-child(-n+2) {
      display: none; }
      @media (max-width: 992px) {
        .product-banner img:nth-last-child(-n+2) {
          display: block; } }

.product-title {
  font-size: 42px;
  font-weight: 500;
  text-align: center; }

.product-subtitle {
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px; }

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 80px; }
  @media (max-width: 992px) {
    .product-list {
      row-gap: 40px; } }
  .product-list li {
    width: 23.6%; }
    @media (max-width: 992px) {
      .product-list li {
        width: 48.3%; } }
    @media (max-width: 767px) {
      .product-list li {
        width: 100%; } }
    @media (max-width: 767px) {
      .product-list li img {
        width: 100%; } }

.product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px; }
  .product-detail span {
    color: #AA0601;
    font-weight: 500; }

.product-color-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px; }

.product-color {
  width: 24px;
  height: 24px;
  border-radius: 4px; }
  .product-color:first-child {
    background: #5F3E2D; }
  .product-color:last-child {
    background: #B75929; }

.sunglasses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 80px; }
  .sunglasses-list li {
    width: 32.1%; }
    @media (max-width: 992px) {
      .sunglasses-list li {
        width: 48.2%; } }
    @media (max-width: 767px) {
      .sunglasses-list li {
        width: 100%; } }

.store-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }
  .store-select label {
    font-size: 24px;
    margin-right: 16px; }
    @media (max-width: 767px) {
      .store-select label {
        font-size: 16px; } }
  .store-select .locate-selector {
    width: 304px;
    border: 1px solid #CED4DA;
    color: #495057;
    padding: 6px 12px;
    font-size: 18px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/arrow_drop_down_FILL0_wght400_GRAD0_opsz48.svg") no-repeat 100% center;
    background-size: contain;
    cursor: pointer; }
    @media (max-width: 767px) {
      .store-select .locate-selector {
        font-size: 16px; } }

.store-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 1.85%;
     -moz-column-gap: 1.85%;
          column-gap: 1.85%;
  row-gap: 48px; }
  .store-list::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto; }
  @media (max-width: 992px) {
    .store-list {
      -ms-flex-item-align: center;
          align-self: center; } }
  @media (max-width: 767px) {
    .store-list {
      row-gap: 24px; } }
  .store-list > li {
    width: 32.1%; }
    @media (max-width: 992px) {
      .store-list > li {
        width: 48.3%; } }
    @media (max-width: 767px) {
      .store-list > li {
        width: 100%; } }
  .store-list .store-more {
    text-align: center;
    padding: 16px 0;
    display: block;
    background: #000;
    font-size: 19px;
    color: #fff; }

.store-name {
  font-size: 24px;
  padding: 8px 24px;
  border: 1px solid #00000020; }

.store-details {
  border: 1px solid #00000020;
  padding: 16px 24px; }
  .store-details li {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .store-details li span {
      margin-top: 4px;
      font-size: 24px;
      font-weight: bold;
      margin-right: 8px;
      vertical-align: baseline; }
    .store-details li a {
      color: #000; }
  .store-details li:not(:last-child) {
    margin-bottom: 8px; }

.store-map {
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .store-map {
      margin-bottom: 64px; } }
  .store-map-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 992px) {
      .store-map-display {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 24px; } }
  .store-map-detail {
    max-width: 526px;
    margin-right: 24px; }
    @media (max-width: 992px) {
      .store-map-detail {
        margin-right: 0;
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-column-gap: 24px;
           -moz-column-gap: 24px;
                column-gap: 24px; }
        .store-map-detail img, .store-map-detail .store-map-about {
          width: 48.4%; } }
    @media (max-width: 767px) {
      .store-map-detail {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .store-map-detail img, .store-map-detail .store-map-about {
          width: 100%; } }

iframe {
  max-width: 100%; }

@media (max-width: 992px) {
  .normal-iframe {
    display: none; } }

.sm-iframe {
  max-width: 100%;
  display: none; }
  @media (max-width: 992px) {
    .sm-iframe {
      display: block; } }

.faq {
  width: 66%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 992px) {
    .faq {
      width: 100%; } }
  @media (max-width: 767px) {
    .faq {
      margin-bottom: 64px; } }
  .faq .page-sub-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px; }
  .faq-list li:not(:last-child) {
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .faq-list li:not(:last-child) {
        margin-bottom: 24px; } }
  .faq-list h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px; }

/*# sourceMappingURL=all.css.map */
